{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-around mt-4 mb-4">
            <a href="/formation" type="button" class="btn btn-outline-info col-md-5 m-1 align-content-center">gestion des formations</a>
            <a href="/enseignant" type="button" class="btn btn-outline-info col-md-5 m-1 align-content-center">gestion des enseignants</a>
            <a href="/" type="button" class="btn btn-outline-info col-md-5 m-1 align-content-center m-5">creer un nouveau projet</a>
        </div>
    </div>

{% endblock %}