<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>gestionnaire des heures d'enseignements</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/styles.css" rel="stylesheet">
        <link href="/images/iut.ico" rel="icon" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/iut.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            gestion des heures d'enseignement
        </a>
    </nav>
        {% block content %}{% endblock %}
    </body>
</html>