{% extends "layout.html" %}

{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Accueil</a>
        <a class="breadcrumb-item" href="/enseignant">Enseignant</a>
        <span class="breadcrumb-item active">ajouter-modifier</span>
    </nav>
    <div class="container">
        <form method="post" action="{{ endpoint }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control" value="{{ enseignant.nom }}">
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" class="form-control" value="{{ enseignant.prenom }}">
            </div>
            <div class="form-group">
                <label for="prenom">Surnom</label>
                <input type="text" id="surnom" name="surnom" class="form-control" value="{{ enseignant.surnom }}">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" name="email" class="form-control" value="{{ enseignant.email }}">
            </div>

            <label for="statut">Statut </label>
            <div class="form-check" id="statut">
            {% for statut in statuts %}
                <br>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="statut" value="{{ statut._id }}"
                           {% if (enseignant.statut != undefined) %} {% if enseignant.statut.toString() == statut._id.toString() %} checked {% endif %} {% endif %}>
                    {{ statut.nom }}
                </label>
                <br>
            {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary mt-3" value="enregistrer">
        </form>
    </div>



{% endblock %}