{% extends "layout.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Accueil</a>
    <a class="breadcrumb-item" href="/projet/{{ projet._id }}">Projet {{ projet.nom }}</a>
    <a class="breadcrumb-item" href="/projet/decomposition/{{ projet._id }}/{{ idFormation }}">Decomposition {{ formation.nom }}</a>
    <span class="breadcrumb-item active">modifier</span>
</nav>
<div class="container">
    <form method="post" action="{{ endpoint }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" class="form-control" value="{{ decomposition.nom }}">
        </div>
        <div class="form-group">
            <label for="surnom">Surnom</label>
            <input type="text" id="surnom" name="surnom" class="form-control" value="{{ decomposition.surnom }}">
        </div>
        <div class="form-group">
            <label for="mode_saisie">Mode de saisie</label>
            <select class="custom-select" id="mode_saisie" name="mode_saisie">
                <option value="non_definie">choisisser un mode de saisie</option>
                <option value="pas_de_saisie" {% if decomposition.mode_saisie === 'pas_de_saisie' %} selected {% endif %}>pas de saisie</option>
                <option value="hebdo" {% if decomposition.mode_saisie === 'hebdo' %} selected {% endif %}>saisie hebdomadaire</option>
                <option value="global">saisie global</option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="enregistrer">
    </form>
</div>

{% endblock %}