{% extends "layout.html" %}

{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Accueil</a>
        <a class="breadcrumb-item" href="/projet/{{ projet._id }}">Projet {{ projet.nom }}</a>
        <span class="breadcrumb-item active">Decomposition {{ formation.nom }}</span>
    </nav>
    <div class="container text-center">
        <p class="h1 justify-content-start mt-3 mb-3">{{ projet.nom }}</p>

        {% for periode in formation.periode %}
            <div class="h4 mt-5">{{ periode.nom_periode }}</div>
            <table class="table table-editable table-bordered mb-3">
                <tr>
                    <td colspan="{{ tableau_decomposition.length }}"></td>
                    {% for semaine in range(1, periode.duree) %}
                        <td>{{ semaine }}</td>
                    {% endfor %}
                    <td>Total </td>
                </tr>
                {% for UE in tableau_decomposition[0] %}
                    {% if UE.element_parent | string === periode._id | string %}
                        <tr>
                            <td colspan="{{ periode.duree + tableau_decomposition.length}}" class="bg-light">
                                <div class="row float-right mr-2">
                                    <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ UE._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                    </svg></a>
                                    <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ UE._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                    </svg>
                                    </a>
                                </div>
                                {{ UE.nom }}
                                <br>
                                <a href="/projet/decomposition/new/{{ projet._id}}/{{ formation._id }}/{{ UE._id }}/2" class="mr-3">ajouter un fils</a>
                            </td>
                        </tr>
                        {% for i in tableau_decomposition[1] %}
                            {% if UE._id | string === i.element_parent | string %}
                                {% if i.mode_saisie | string === 'hebdo' %}
                                <form method="post" action="/projet/decomposition/record/{{ projet._id}}/{{ formation._id }}/{{ periode.duree }}/{{ i._id }}" enctype="multipart/form-data">
                                    <tr>
                                        <td colspan="{{tableau_decomposition.length - 1}}" rowspan="4">
                                            <div class="row float-right mr-2">
                                                <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                </svg></a>
                                                <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                </svg>
                                                </a>
                                            </div>
                                            <div class="m-3">
                                                {{ i.nom }}
                                                <br>
                                                <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                <br>
                                                <div class="dropdown mt-5 mb-0">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        ajouter intervenant
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {% for intervenant in intervenants %}
                                                        <a class="dropdown-item"
                                                           href="/projet/decomposition/new-intervenant/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/{{ intervenant._id }}">
                                                            {{ intervenant.enseignant.nom }} {{ intervenant.enseignant.prenom }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>CM ({{periode.nombre_groupe_CM}} grp)</td>
                                            {% for semaine in range(1, periode.duree) %}
                                        <td class="p-0 "><input class="form-control align-middle text-center input-form" name="nombre_heure_CM[]"
                                                                value="{% if (i.nombre_heure_CM[semaine - 1] === 0) %}{% else %}{{ i.nombre_heure_CM[semaine - 1] }}{% endif %}"></td>
                                            {% endfor %}
                                        <td class="p-0"><div class="form-control align-middle text-center input-form">{{ i.nombre_heure_CM[periode.duree] }}</div></td>
                                        </tr>
                                        <tr>
                                            <td>TD ({{periode.nombre_groupe_TD}} grp)</td>
                                            {% for semaine in range(1, periode.duree) %}
                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TD[]"
                                                                   value="{% if (i.nombre_heure_TD[semaine - 1] === 0) %}{% else %}{{ i.nombre_heure_TD[semaine - 1] }}{% endif %}"></td>
                                            {% endfor %}
                                            <td class="p-0"><div class="form-control align-middle text-center input-form">{{ i.nombre_heure_TD[periode.duree] }}</div></td>
                                        </tr>
                                        <tr>
                                            <td>TP ({{periode.nombre_groupe_TP}} grp)</td>
                                            {% for semaine in range(1, periode.duree) %}
                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TP[]"
                                                                   value="{% if (i.nombre_heure_TP[semaine - 1] === 0) %}{% else %}{{ i.nombre_heure_TP[semaine - 1] }}{% endif %}"></td>
                                            {% endfor %}
                                            <td class="p-0"><div class="form-control align-middle text-center input-form">{{ i.nombre_heure_TP[periode.duree] }}</div></td>
                                        </tr>
                                        <tr>
                                            <td>Partiel ({{periode.nombre_groupe_Partiel}} grp)</td>
                                            {% for semaine in range(1, periode.duree) %}
                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_Partiel[]"
                                                                   value="{% if (i.nombre_heure_Partiel[semaine - 1] === 0) %}{% else %}{{ i.nombre_heure_Partiel[semaine - 1] }}{% endif %}"></td>
                                            {% endfor %}
                                            <td class="p-0"><div class="form-control align-middle text-center input-form">{{ i.nombre_heure_Partiel[periode.duree] }}</div></td>
                                        </tr>
                                    </form>
                                    {% for intervenant in i.intervenants %}
                                        {% for intervenant_decomposition in intervenants %}
                                            {% if intervenant.intervenant | string === intervenant_decomposition._id | string %}
                                                <form method="post" action="/projet/decomposition/intervenant/record/{{ projet._id}}/{{ formation._id }}/{{ periode.duree }}/{{ i._id }}/{{ intervenant._id }}" enctype="multipart/form-data">
                                                    <tr>
                                                        <td colspan="{{tableau_decomposition.length }}" rowspan="5">
                                                            {{ intervenant_decomposition.enseignant.nom }} {{ intervenant_decomposition.enseignant.prenom }}
                                                            <br>
                                                            <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                            <div class="row float-right mr-2">
                                                                <a href="/projet/decomposition/delete-intervenant/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/{{ intervenant._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                </svg>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        {% for semaine in range(1, periode.duree+1) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_CM[]" value="{% if (intervenant.nombre_heure_CM[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_CM[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for semaine in range(1, periode.duree+1) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TD[]" value="{% if (intervenant.nombre_heure_TD[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_TD[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for semaine in range(1, periode.duree+1) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TP[]" value="{% if (intervenant.nombre_heure_TP[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_TP[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for semaine in range(1, periode.duree+1) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_Partiel[]" value="{% if (intervenant.nombre_heure_Partiel[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_Partiel[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                    </tr>
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% elif i.mode_saisie | string === 'global' %}
                                    <form method="post" action="/projet/decomposition/record-global/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" enctype="multipart/form-data">
                                        <tr>
                                            <td colspan="{{ tableau_decomposition.length }}" class="bg-light">
                                                <div class="row float-right mr-2">
                                                    <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                    </svg></a>
                                                    <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                    </svg>
                                                    </a>
                                                </div>
                                                <div class="m-3">
                                                    {{ i.nom }}
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                <div class="dropdown mt-3 mb-0">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        ajouter intervenant
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {% for intervenant in intervenants %}
                                                        <a class="dropdown-item"
                                                           href="/projet/decomposition/new-intervenant/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/{{ intervenant._id }}">
                                                            {{ intervenant.enseignant.nom }} {{ intervenant.enseignant.prenom }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="{{ periode.duree/2 }}">
                                                <div class="form-group">
                                                    <label for="nombre_groupe">nombre de groupe :</label>
                                                    <input class="form-control text-center" id="nombre_groupe" name="nombre_groupe" value="{{ i.nombre_groupe }}">
                                                </div>
                                            </td>
                                            <td colspan="{{ periode.duree/2 }}">
                                                <div class="form-group">
                                                    <label for="forfait">forfait :</label>
                                                    <input class="form-control text-center" id="forfait" name="forfait" value="{{ i.forfait }}">
                                                </div>
                                            </td>
                                        </tr>
                                    </form>
                                    {% for intervenant in i.intervenants %}
                                        {% for intervenant_decomposition in intervenants %}
                                            {% if intervenant.intervenant | string === intervenant_decomposition._id | string %}
                                                <form method="post" action="/projet/decomposition/intervenant/record-global/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/{{ intervenant._id }}" enctype="multipart/form-data">
                                                    <tr>
                                                        <td colspan="{{tableau_decomposition.length }}">
                                                            {{ intervenant_decomposition.enseignant.nom }} {{ intervenant_decomposition.enseignant.prenom }}
                                                            <br>
                                                            <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                            <div class="row float-right mr-2">
                                                                <a href="/projet/decomposition/delete-intervenant/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/{{ intervenant._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                </svg>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td colspan="{{ periode.duree }}">
                                                            <div class="form-group row">
                                                                <label for="nombre_groupe_suivis" class="col-sm-6 col-form-label">nombre de groupe suivis :</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="nombre_groupe_suivis"
                                                                           name="nombre_groupe_suivis" value="{{ intervenant.nombre_groupe }}">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="{{tableau_decomposition.length}}" class="bg-light">
                                            <div class="row float-right mr-2">
                                                <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                </svg></a>
                                                <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ i._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                </svg>
                                                </a>
                                            </div>
                                            <div class="m-3">
                                                {{ i.nom }}
                                            </div>
                                            <br>
                                            <a href="/projet/decomposition/new/{{ projet._id}}/{{ formation._id }}/{{ i._id }}/3">ajouter un fils</a>
                                        </td>
                                        <td colspan="{{ periode.duree +1 }}"></td>
                                    </tr>
                                    {% for j in tableau_decomposition[2] %}
                                        {% if i._id | string === j.element_parent | string %}
                                            {% if j.mode_saisie | string === 'hebdo' %}
                                                <form method="post" action="/projet/decomposition/record/{{ projet._id}}/{{ formation._id }}/{{ periode.duree }}/{{ j._id }}" enctype="multipart/form-data">
                                                    <tr>
                                                        <td colspan="{{tableau_decomposition.length - 1}}" rowspan="4">
                                                            <div class="row float-right mr-2">
                                                                <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                                </svg></a>
                                                                <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                </svg>
                                                                </a>
                                                            </div>
                                                            <div class="m-3">
                                                                {{ j.nom }}
                                                                <br>
                                                                <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                                <br>
                                                                <div class="dropdown mt-5 mb-0">
                                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        ajouter intervenant
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        {% for intervenant in intervenants %}
                                                                        <a class="dropdown-item"
                                                                           href="/projet/decomposition/new-intervenant/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/{{ intervenant._id }}">
                                                                            {{ intervenant.enseignant.nom }} {{ intervenant.enseignant.prenom }}</a>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>CM ({{periode.nombre_groupe_CM}} grp)</td>
                                                        {% for semaine in range(1, periode.duree) %}
                                                        <td class="p-0 "><input class="form-control align-middle text-center input-form" name="nombre_heure_CM[]" value="{% if (j.nombre_heure_CM[semaine - 1] === 0) %}{% else %}{{ j.nombre_heure_CM[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                        <td class="p-0"><div class="form-control align-middle text-center input-form">{{ j.nombre_heure_CM[periode.duree] }}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>TD ({{periode.nombre_groupe_TD}} grp)</td>
                                                        {% for semaine in range(1, periode.duree) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TD[]" value="{% if (j.nombre_heure_TD[semaine - 1] === 0) %}{% else %}{{ j.nombre_heure_TD[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                        <td class="p-0"><div class="form-control align-middle text-center input-form">{{ j.nombre_heure_TD[periode.duree] }}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>TP ({{periode.nombre_groupe_TP}} grp)</td>
                                                        {% for semaine in range(1, periode.duree) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TP[]" value="{% if (j.nombre_heure_TP[semaine - 1] === 0) %}{% else %}{{ j.nombre_heure_TP[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                        <td class="p-0"><div class="form-control align-middle text-center input-form">{{ j.nombre_heure_TP[periode.duree] }}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Partiel ({{periode.nombre_groupe_Partiel}} grp)</td>
                                                        {% for semaine in range(1, periode.duree) %}
                                                        <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_Partiel[]" value="{% if (j.nombre_heure_Partiel[semaine - 1] === 0) %}{% else %}{{ j.nombre_heure_Partiel[semaine - 1] }}{% endif %}"></td>
                                                        {% endfor %}
                                                        <td class="p-0"><div class="form-control align-middle text-center input-form">{{ j.nombre_heure_Partiel[periode.duree] }}</div></td>
                                                    </tr>
                                                </form>
                                                    {% for intervenant in j.intervenants %}
                                                            {% for intervenant_decomposition in intervenants %}
                                                                {% if intervenant.intervenant | string === intervenant_decomposition._id | string %}
                                                                    <form method="post" action="/projet/decomposition/intervenant/record/{{ projet._id}}/{{ formation._id }}/{{ periode.duree }}/{{ j._id }}/{{ intervenant._id }}" enctype="multipart/form-data">
                                                                        <tr>
                                                                            <td colspan="{{tableau_decomposition.length }}" rowspan="5">
                                                                                {{ intervenant_decomposition.enseignant.nom }} {{ intervenant_decomposition.enseignant.prenom }}
                                                                                <br>
                                                                                <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                                                <div class="row float-right mr-2">
                                                                                    <a href="/projet/decomposition/delete-intervenant/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/{{ intervenant._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                                    </svg>
                                                                                    </a>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            {% for semaine in range(1, periode.duree+1) %}
                                                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_CM[]" value="{% if (intervenant.nombre_heure_CM[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_CM[semaine - 1] }}{% endif %}"></td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        <tr>
                                                                            {% for semaine in range(1, periode.duree+1) %}
                                                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TD[]" value="{% if (intervenant.nombre_heure_TD[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_TD[semaine - 1] }}{% endif %}"></td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        <tr>
                                                                            {% for semaine in range(1, periode.duree+1) %}
                                                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_TP[]" value="{% if (intervenant.nombre_heure_TP[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_TP[semaine - 1] }}{% endif %}"></td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        <tr>
                                                                            {% for semaine in range(1, periode.duree+1) %}
                                                                            <td class="p-0"><input class="form-control align-middle text-center input-form" name="nombre_heure_Partiel[]" value="{% if (intervenant.nombre_heure_Partiel[semaine - 1] === 0) %}{% else %}{{ intervenant.nombre_heure_Partiel[semaine - 1] }}{% endif %}"></td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                    </form>
                                                                {% endif %}
                                                            {% endfor %}
                                                    {% endfor %}
                                                    {% elif j.mode_saisie | string === 'global' %}
                                                        <form method="post" action="/projet/decomposition/record-global/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" enctype="multipart/form-data">
                                                            <tr>
                                                                <td colspan="{{ tableau_decomposition.length }}">
                                                                    <div class="row float-right mr-2">
                                                                        <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                                        </svg></a>
                                                                        <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                        </svg>
                                                                        </a>
                                                                    </div>
                                                                    <div class="m-3">
                                                                        {{ j.nom }}
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                                    <div class="dropdown mt-3 mb-0">
                                                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            ajouter intervenant
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                            {% for intervenant in intervenants %}
                                                                            <a class="dropdown-item"
                                                                               href="/projet/decomposition/new-intervenant/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/{{ intervenant._id }}">
                                                                                {{ intervenant.enseignant.nom }} {{ intervenant.enseignant.prenom }}</a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td colspan="{{ periode.duree/2 }}">
                                                                    <div class="form-group">
                                                                        <label for="nombre_groupe">nombre de groupe :</label>
                                                                        <input class="form-control text-center" name="nombre_groupe" value="{{ j.nombre_groupe }}">
                                                                    </div>
                                                                </td>
                                                                <td colspan="{{ periode.duree/2 }}">
                                                                    <div class="form-group">
                                                                        <label for="forfait">forfait :</label>
                                                                        <input class="form-control text-center" name="forfait" value="{{ j.forfait }}">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </form>
                                                        {% for intervenant in j.intervenants %}
                                                            {% for intervenant_decomposition in intervenants %}
                                                                {% if intervenant.intervenant | string === intervenant_decomposition._id | string %}
                                                                <form method="post" action="/projet/decomposition/intervenant/record-global/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/{{ intervenant._id }}" enctype="multipart/form-data">
                                                                    <tr>
                                                                        <td colspan="{{tableau_decomposition.length }}">
                                                                            {{ intervenant_decomposition.enseignant.nom }} {{ intervenant_decomposition.enseignant.prenom }}
                                                                            <br>
                                                                            <button type="submit" class="btn btn-primary mt-3 text-white">enregistrer</button>
                                                                            <div class="row float-right mr-2">
                                                                                <a href="/projet/decomposition/delete-intervenant/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/{{ intervenant._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                                                </svg>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                        <td colspan="{{ periode.duree }}">
                                                                            <div class="form-group row">
                                                                                <label for="nombre_groupe_suivis" class="col-sm-6 col-form-label">nombre de groupe suivis :</label>
                                                                                <div class="col-sm-6">
                                                                                    <input type="text" class="form-control"
                                                                                           name="nombre_groupe_suivis" value="{{ intervenant.nombre_groupe }}">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </form>
                                                                {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% else %}
                                                <tr>
                                                    <td colspan="{{tableau_decomposition.length }}"></td>
                                                    <td>
                                                        <div class="row float-right mr-2">
                                                            <a href="/projet/decomposition/edit/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="float-right"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                                                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                                                            </svg></a>
                                                            <a href="/projet/decomposition/delete/{{ projet._id}}/{{ formation._id }}/{{ j._id }}" class="text-danger float-right" style="margin-left: auto;margin-right: auto"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                                            </svg>
                                                            </a>
                                                        </div>
                                                        {{ j.nom }}
                                                        <br>
                                                        <a href="/projet/decomposition/new/{{ projet._id}}/{{ formation._id }}/{{ j._id }}/4">ajouter un fils</a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="{{ periode.duree + tableau_decomposition.length + 1 }}">
                        <a href="/projet/decomposition/new/{{ projet._id}}/{{ formation._id }}/{{ periode._id }}/1" class="text-center">ajouter un fils</a>
                    </td>
                </tr>
            </table>
        {% endfor %}

        <input type="submit" class="btn btn-primary text-center" value="enregistrer">
    </div>

{% endblock %}