{% extends "layout.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Accueil</a>
    <a class="breadcrumb-item" href="/projet/{{ projet._id }}">Projet {{ projet.nom}}</a>
    <span class="breadcrumb-item active">bilan</span>
</nav>
<div class="container text-center">
    <p class="h1 justify-content-start mt-3 mb-3">Bilan {{ projet.nom }}</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">CM</th>
            <th scope="col">TD</th>
            <th scope="col">TP</th>
            <th scope="col">Partiel</th>
            <th scope="col">HeTD</th>
            <th scope="col">HeSup</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for intervenant in intervenants %}
            <tr>
                <td>{{ intervenant.enseignant.surnom }}</td>
                <td>{{ intervenant.nombre_heure_CM }}</td>
                <td>{{ intervenant.nombre_heure_TD }}</td>
                <td>{{ intervenant.nombre_heure_TP }}</td>
                <td>{{ intervenant.nombre_heure_Partiel }}</td>
                <td>{{ intervenant.nombre_heure_HeTD }}</td>
                <td>{{ intervenant.nombre_heure_HeSup }}</td>
                <td>{{ intervenant.nombre_heure_total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}