{% extends "layout.html" %}

{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Accueil</a>
        <span class="breadcrumb-item active">projet</span>
    </nav>
    <div class="container text-center">
        <div class="row justify-content-around mt-4 mb-4">
            <a href="/projet/edit/{{ projet._id }}" type="button" class="btn btn-outline-info col-md-6 mt-1 mb-1">modifier projet</a>
            <a href="/projet/intervenant/{{ projet._id }}" type="button" class="btn btn-outline-info col-md-6 mt-1 mb-1">gestion des intervenants</a>
        </div>
        <p class="h1 justify-content-start mt-3 mb-3">{{ projet.nom }}</p>

        <a href="/projet/bilan/{{ projet._id }}" class="col-md-6 btn btn-success mt-1 mb-4">bilan</a>

        {% for formation in projet.formations %}
            <div class="row">
                <a href="decomposition/{{ projet._id }}/{{ formation._id }}" class="btn btn-info col-12 mb-3">{{ formation.nom }}</a>
            </div>
        {% endfor %}

        <a href="/projet/delete/{{ projet._id }}" class="btn btn-danger">supprimer ce projet</a>
    </div>

{% endblock %}