{% extends "layout.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Accueil</a>
    <a class="breadcrumb-item" href="/formation">Formation</a>
    <span class="breadcrumb-item active">ajouter-modifier-periode</span>
</nav>
<div class="container">
    <form method="post" action="{{ endpoint }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" class="form-control" value="{{ periode.nom_periode }}">
        </div>
        <div class="form-group">
            <label for="surnom">Surnom</label>
            <input type="text" id="surnom" name="surnom" class="form-control" value="{{ periode.surnom_periode }}">
        </div>
        <div class="form-group">
            <label for="duree">Duree</label>
            <input type="text" id="duree" name="duree" class="form-control" value="{{ periode.duree }}">
        </div>
        <div class="form-group">
            <label for="nombre_groupe_CM">Nombre groupe CM</label>
            <input type="text" id="nombre_groupe_CM" name="nombre_groupe_CM" class="form-control" value="{{ periode.nombre_groupe_CM }}">
        </div>
        <div class="form-group">
            <label for="nombre_groupe_TD">Nombre groupe TD</label>
            <input type="text" id="nombre_groupe_TD" name="nombre_groupe_TD" class="form-control" value="{{ periode.nombre_groupe_TD }}">
        </div>
        <div class="form-group">
            <label for="nombre_groupe_TP">Nombre groupe TP</label>
            <input type="text" id="nombre_groupe_TP" name="nombre_groupe_TP" class="form-control" value="{{ periode.nombre_groupe_TP }}">
        </div>
        <div class="form-group">
            <label for="nombre_groupe_Partiel">Nombre groupe partiel</label>
            <input type="text" id="nombre_groupe_Partiel" name="nombre_groupe_Partiel" class="form-control" value="{{ periode.nombre_groupe_Partiel }}">
        </div>
        <input type="submit" class="btn btn-primary" value="enregistrer">
    </form>
</div>

{% endblock %}