{% extends "layout.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Accueil</a>
    <a class="breadcrumb-item" href="/formation">Formation</a>
    <span class="breadcrumb-item active">ajouter-modifier-periode</span>
</nav>
<div class="container">
    <form method="post" action="{{ endpoint }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" class="form-control" value="{{ periode.nom_periode }}">
        </div>
        <input type="submit" class="btn btn-primary" value="enregistrer">
    </form>
</div>

{% endblock %}